<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WXF2TXM');</script>
<!-- End Google Tag Manager -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="apple-touch-icon" sizes="180x180" href="../../{assetsBasePath}/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../{assetsBasePath}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../{assetsBasePath}/images/favicon-16x16.png">

<title>{{ siteName }}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="{{ '/css/style.css?ver=214'}}" type="text/css" charset="utf-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet"> 
<link href="https://db.onlinewebfonts.com/c/89c2566f7cecf56e3038bde24e1d03f0?family=Aaux+ProBold" rel="stylesheet" type="text/css"/> 
<!--<link href="https://db.onlinewebfonts.com/c/570009696f48168ca6c28623eeb44046?family=Aaux+ProUltra" rel="stylesheet" type="text/css"/> -->

</head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXF2TXM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
   
      {% block content %}
      {% endblock %}
    
  </body>
</html>